services:
  web:
    build: .
    image: "ghcr.io/soehlert/kitchenclip:latest"
    ports:
      - "8888:8000"
    environment:
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
      - PYTHONWARNINGS=ignore:invalid escape sequence:SyntaxWarning
      - DEBUG=1
    volumes:
      - ./recipes:/app/recipes
      - ./KitchenClip:/app/KitchenClip
      - ./templates:/app/templates
      - ./manage.py:/app/manage.py
      - ./db.sqlite3:/app/data/db.sqlite3
    restart: unless-stopped
